	<label class="control-label" for="inputError">Valid password must <ul><li>be at least 8 characters long</li><li>contain at least 1 Capital Letter</li><li>contain at least 1 Numeral</li><li>contain at least 1 Special Character (@,#,$,etc.)</li></ul></label>
	<p><?php echo $_SESSION['first_name'] . '' . $_SESSION['last_name'] . ', Enter a new password:'; ?></p>
	<input id="toppassword" class="form-control" type="password" name="pass1" placeholder="New Password" size="20" maxlength="20" autofocus="">
	<input class="form-control" type="password" name="pass2" placeholder="Confirm New Password" size="20" maxlength="20">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	<?php echo $pass_msg; ?>
</form>